*{
	margin:0px;
	padding:0px;
}

body{
	background-color: #e9eae8;
}

#header{
	height: 80px;
	background-color: #556B2F;
	border-bottom: 3px solid black;
}

#header > #logo{
	font-family: tahoma;
	font-size: 30px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	float: left;
	margin-left: 100px;
	margin-top: 19px;
}

#header > #socialicons{
	list-style-type: none;
	float: right;
	margin-top: 40px;
	margin-right: 100px;
}

#header > #socialicons > li{
	float: left;
	padding-left: 10px;
}

#wrapper{
	width: 85%;
	margin: 0px auto;
	min-width: 600px;
	min-height: 600px;
}

#wrapper > #search{
	margin-top: 20px;
	margin-left: 15%;
}

#wrapper > #search > input{
	width: 400px;
	height: 32px;
	font-family: arial;
	font-size: 20px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#wrapper > #search > a{
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
	margin-left: 10px;
	padding: 5px;
	border: 1px solid gray;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#wrapper > #subject{
	width: 780px;
	border-bottom: 1px solid gray;
	background-color: white;
	border-radius: 2px;
	padding: 10px;
	color: #556B2F;
}

#rightsection{
	position: absolute;
	top: 165px;
	margin-left: 850px;
	width: 130px;
	min-height: 600px;
	border-left: 1px solid black;
}

#wrapper > #res{
	clear: both;
	width: 800px;
	height: 150px;
	margin-top: 20px;
	background-color: white;
	border: 1px solid #;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #ccc9c9;
}

#wrapper > #res > #title{
	text-decoration: none;
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: #222222;
	float: left;
	padding: 10px;
}

#wrapper > #res > p{
	clear: both;
	padding-left: 10px;
	font-family: tahoma;
	font-size: 15px;
}

#wrapper > #res > #up{
	font-family: tahoma;
	font-size: 18px;
	font-weight: bold;
	color: green;
	text-decoration: none;
	float: left;
	padding: 3px;
	margin-left: 20px;
	margin-top: 35px;
	border: 1px solid gray;
	border-radius: 2px;
	box-shadow: 0px 1px 1px #cccccc;
}

#wrapper > #res > #down{
	font-family: tahoma;
	font-size: 18px;
	font-weight: bold;
	color: red;
	text-decoration: none;
	float: left;
	padding: 3px;
	margin-left: 10px;
	margin-top: 35px;
	border: 1px solid gray;
	border-radius: 2px;
	box-shadow: 0px 1px 1px #cccccc;
}

#wrapper > #res > #fbshare {
	margin-left: 450px;
	margin-top: 28px;
	float: left;
	display: block;
	width: 90px;
	height: 33px;
	background-color: #3B5998;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 3px;
}

#wrapper > #res > #fbshare > p{
	font-family: tahoma;
	font-size: 15px;
	font-weight: bold;
	float: right;
	color: black;
	margin-top: 8px;
	margin-right: 8px;
}

#wrapper > #res > #tweet {
	margin-left: 680px;
	margin-top: 28px;
	display: block;
	width: 90px;
	height: 33px;
	background-color: #4099FF;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 3px;
}

#wrapper > #res > #tweet > p{
	font-family: tahoma;
	font-size: 15px;
	font-weight: bold;
	float: right;
	color: black;
	margin-top: 8px;
	margin-right: 8px;
}

#footer{
	height: 70px;
	background-color: #e27004;
	border-top: 3px solid black;
	margin-top: 20px;
}

#footer > #footernav{
	list-style-type: none;
	float: left;
	margin-left: 90px;
	margin-top: 23px;
}

#footer > #footernav > li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #222222;
}

#footer > #footernav > li > a{
	font-family: tahoma;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

#footer > #footersocialicons{
	list-style-type: none;
	float: right;
	margin-top: 18px;
	margin-right: 100px;
}

#footer > #footersocialicons > li{
	float: left;
	padding-left: 10px;
}