*{
	margin:0px;
	padding:0px;
}

body{
	background-color: #e9eae8;
}

#header{
	height: 60px;
	background-color: #556B2F;
	border-bottom: 3px solid black;
}

#logo{
	font-family: tahoma;
	font-size: 40px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	display: inline-block;
	margin-left: 42%;
	margin-top: 8px;
}

#wrapper{
	width: 80%;
	margin: 0px auto;
	min-width: 600px;
	min-height: 700px;
	padding-bottom: 20px;
}

#searchbox{
	width: 820px;
	margin: 30px auto;
}

#search{
	width: 650px;
	padding: 15px;
	float: left;
	background-color: white;
	border: 1px solid #888888;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#search  p{
	display: inline;
	font-family: arial;
	font-weight: bold;
	font-size: 13px;
}

#search input{
	width: 350px;
	height: 32px;
	margin-left: 10px;
	font-family: arial;
	font-size: 20px;
	padding-left: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#search  a{
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
	padding: 4px;
	margin-left: 10px;
	border: 1px solid gray;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#addsite{
	width: 80px;
	height: 65px;
	margin-left: 30px;
	text-align: center;
	background-color: white;
	border: 1px solid #888888;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#addsite  p{
	margin-top: 5px;
	font-family: tahoma;
}

/* ======== main wrapper ====== */

#subjectlist{
	list-style-type: none;
	margin-top: 60px;
}

#subjectbox{
	width: 160px;
	height: 160px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	border: 1px solid gray;
	background-color: white;
	border-radius: 2px;
	color: #222222;
	text-align: center;
	box-shadow: 1px 1px 1px #ccc9c9;
}

#subtitle{
	font-family: tahoma;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
	color: #556B2F;
}

#subnum{
	margin-top: 35px;
}

#share{
	display: block;
	width: 200px;
	height: 64px;
	clear: both;
	margin: 0 auto;
	padding-top: 80px; 
}

#share a:nth-child(2){
	margin-left: 30px;
}

/*=========== end main wrapper ========
			  subject start
*/

#subject{
	width: 780px;
	border-bottom: 1px solid gray;
	background-color: white;
	border-radius: 2px;
	padding: 10px;
	color: #222222;
	margin-top: 20px;
}

#res{
	clear: both;
	width: 800px;
	height: auto;
	margin-top: 20px;
	padding-bottom: 65px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #ccc9c9;
}

#title{
	text-decoration: none;
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
	color: #556B2F;
	float: left;
	padding: 10px;
}

#res  p{
	clear: both;
	padding-left: 10px;
	font-family: tahoma;
	font-size: 15px;
}

#up{
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}

#down{
	float: left;
	margin-left: -32px;
	margin-top: 30px;
}

#fbshare {
	margin-top: 24px;
	margin-right: 10px;
	float: right;
	display: block;
	text-decoration: none;
}

#tweet {
	margin-top: 24px;
	margin-right: 17px;
	float: right;
	display: block;
	text-decoration: none;
}

#rightsection{
	position: absolute;
	top: 190px;
	margin-left: 820px;
	min-height: 600px;
	border-left: 1px solid gray;
}

#rightsection  h2{
	margin-left: 8px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}

#rightsection  a{
	margin-left: 10px;
	margin-bottom: 5px;
	font-family: tahoma;
	font-size: 15px;
	color: brown;
	text-decoration: none;
	background-color: white;
	padding: 5px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 4px #cccccc;
	display: block;
}

#footer{
	height: 70px;
	background-color: #e27004;
	border-top: 3px solid black;
}

#footer > #footernav{
	list-style-type: none;
	float: left;
	margin-left: 9.5%;
	margin-top: 23px;
}

#footer > #footernav > li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #222222;
}

#footer > #footernav > li > a{
	font-family: tahoma;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

#footer > #footersocialicons{
	list-style-type: none;
	float: right;
	margin-top: 18px;
	margin-right: 10%;
}

#footer > #footersocialicons > li{
	float: left;
	padding-left: 10px;
}